/* styles.css */
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: hsl(0, 6%, 24%); /* Dark Grayish Red */
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo {
  width: 150px;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.left-section {
  flex: 1;
  padding-right: 20px;
}

.right-section {
  flex: 1;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.2;
  color: hsl(0, 6%, 24%);
  margin-bottom: 20px;
}

p {
  font-weight: 300;
  font-size: 1rem;
  color: hsl(0, 6%, 24%);
  margin-bottom: 30px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="email"] {
  padding: 15px;
  border: 1px solid hsl(0, 36%, 70%); /* Desaturated Red */
  border-radius: 30px;
  margin-right: 10px;
  font-size: 16px;
  width: 300px;
  box-sizing: border-box;
}

button {
  background-color: hsl(0, 93%, 68%); /* Soft Red */
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

button:hover,
button:focus {
  background-color: hsl(0, 36%, 70%); /* Desaturated Red */
}

.error-message {
  color: hsl(0, 93%, 68%); /* Soft Red */
  font-size: 14px;
  visibility: hidden;
}

.hero-image {
  width: 100%;
  border-radius: 10px;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

footer .attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    padding: 0;
  }

  .right-section {
    margin-top: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  input[type="email"] {
    width: 80%;
  }

  button {
    width: 80%;
  }
}
